name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          python3-pip \
          git zip unzip \
          openjdk-17-jdk \
          build-essential \
          libffi-dev \
          libssl-dev

    - name: Install Buildozer
      run: |
        pip install --upgrade pip setuptools wheel
        pip install cython
        pip install buildozer

    - name: Accept Android SDK licenses
      run: |
        yes | sdkmanager --licenses

    - name: Build APK
      run: |
        export ANDROID_HOME=$HOME/.buildozer/android/platform/android-sdk
        export PATH=$ANDROID_HOME/tools/bin:$ANDROID_HOME/cmdline-tools/latest/bin:$PATH
        yes | sdkmanager --licenses
        buildozer android debug
        
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: WaterReminder-APK
        path: bin/*.apk
